.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  
    
}

input,
select {
    margin: 5px;
    height: 40px;
    border: none;
    background-color: #f2f4d1;
    width: 190px;
    border-radius: 10px;
    padding-left: 5px;
}

button {
    margin: 5px 20px 5px 5px;
    width: 100px;
    height: 42px;
    border: none;
    background-color: #88afa4;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    background-color: #f2f4d1;
}

