body {
  background-image: url('../../images/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.logo {
  height: 110px;
  padding: 20px;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 125%
}

* {
  font-family: 'Nanum Gothic', sans-serif;
}
