.song-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

h5 {
    color: #ebc237;
    text-align: center;
    margin: 0px;
    font-size: 30px;
}

.empty-space {
    height: 150px;
}