.Sixties {
    background-color: gray;
    margin: 2%;
}

.Seventies {
    background-color: gray;
    margin: 2%;
}

.Eighties {
    background-color: gray;
    margin: 2%;
}

.Nineties {
    background-color: gray;
    margin: 2%;
}

.Aughts {
    background-color: gray;
    margin: 2%;
}

.Tens {
    background-color: gray;
    margin: 2%;
}

.cover-image {
    height: 100px;
    width: 100px;
}

